In [1]:
#Step 1: Import required libraries
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [2]:
#Step: load/read the dataset
df = pd.read_csv("pizza2.csv")
df.head()

   AGE   WEIGHT  PIZZA
0    10      70      0
1    11      20      1
2    12      35      1
3    12      80      0
4    20      85      0

In [5]:
#step 4: split into x and y axis
x = df.drop(columns=["PIZZA"])
x

    AGE   WEIGHT
0     10      70
1     11      20
2     12      35
3     12      80
4     20      85
5     15      31
6     16      90
7     17      45
8     18     110
9     19      34
10    80      80
11    55      60
12    60      79
13    28      75
14    15      48
15    10      35

In [10]:
# y = df.PIZZA
y = df['PIZZA']
y

0     0
1     1
2     1
3     0
4     0
5     1
6     0
7     1
8     0
9     1
10    0
11    1
12    0
13    1
14    1
15    1
Name: PIZZA, dtype: int64

In [11]:
#TRAIN AND TESTING

In [12]:
#Call the Algorithm(logisticregression)
model = LogisticRegression()

In [13]:
#train the model
model.fit(x,y)

LogisticRegression()

In [14]:
#Predict the outcomes
pred = model.predict([[25,65]])
pred

C:\Users\CSC\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [15]:
pred[0]

1

In [ ]:
if pred[0] == 1:
    print("He can eat pizza!!")
else:
    print("Go to gym!!")