In [1]:
import pandas as pd
from sklearn.neighbors import KNeighborsRegressor
#from sklearn.neighbors import KNeighborsClassifier

In [2]:
df = pd.read_csv('car.csv')
df.head()

   milage  age  sell_price
0   69000    6       18000
1   35000    3       34000
2   57000    5       26100
3   22500    2       40000
4   46000    4       31500

In [3]:
df.isnull().sum()

milage        0
age           0
sell_price    0
dtype: int64

In [4]:
#split into x and y axis
x = df.drop(columns=['sell_price'])
x

   milage  age
0   69000    6
1   35000    3
2   57000    5
3   22500    2
4   46000    4
5   59000    5
6   52000    5
7   72000    6
8   91000    8
9   67000    6

In [5]:
y = df.sell_price
y

0    18000
1    34000
2    26100
3    40000
4    31500
5    26750
6    32000
7    19300
8    12000
9    22000
Name: sell_price, dtype: int64

In [6]:
#class the algorith
model = KNeighborsRegressor(n_neighbors=2)

In [7]:
#Train the model
model.fit(x,y)

KNeighborsRegressor(n_neighbors=2)

In [8]:
#predict the outcomes
price = model.predict([[55000,4]])
price

C:\Users\CSC\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsRegressor was fitted with feature names
  warnings.warn(

array([29050.])

In [10]:
print("The car price estimates to: ",price[0],"Rs")

The car price estimates to:  29050.0 Rs