import pandas as pd

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('new_tennis.csv')

In [3]:
df.head()

,Unnamed: 0,overcast,rainy,sunny,cool,hot,mild,high,normal,FALSE,TRUE,play
0,0,0,0,1,0,1,0,1,0,1,0,0
1,1,0,0,1,0,1,0,1,0,0,1,0
2,2,1,0,0,0,1,0,1,0,1,0,1
3,3,0,1,0,0,0,1,1,0,1,0,1
4,4,0,1,0,1,0,0,0,1,1,0,1

In [4]:
x = df.drop(columns=['play'])
x.head()

,Unnamed: 0,overcast,rainy,sunny,cool,hot,mild,high,normal,FALSE,TRUE
0,0,0,0,1,0,1,0,1,0,1,0
1,1,0,0,1,0,1,0,1,0,0,1
2,2,1,0,0,0,1,0,1,0,1,0
3,3,0,1,0,0,0,1,1,0,1,0
4,4,0,1,0,1,0,0,0,1,1,0

In [5]:
y = df.play
y.head()

0    0
1    0
2    1
3    1
4    1
Name: play, dtype: int64

In [6]:
#train and test
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.1)

In [7]:
#call algorithm
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [8]:
#train
model.fit(x_train,y_train)

GaussianNB()

In [12]:
#predict the outcomes
pred = model.predict([[1,0,0,1,0,1,0,1,0,0,1
]])
pred

C:\Users\CSC\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [13]:
if pred[0] == 1:
    print("he play")
else:
    print("he don't")

he don't

In [14]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()

In [15]:
model.fit(x_train,y_train)

MultinomialNB()

In [16]:
#predict the outcomes
pred = model.predict([[1,0,0,1,0,1,0,1,0,0,1
]])
pred

C:\Users\CSC\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but MultinomialNB was fitted with feature names
  warnings.warn(

array([0], dtype=int64)