In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [2]:
df = pd.read_csv("insurance_data.csv")
df

    age  bought_insurance
0    22                 0
1    25                 0
2    47                 1
3    52                 0
4    46                 1
5    56                 1
6    55                 0
7    60                 1
8    62                 1
9    61                 1
10   18                 0
11   28                 0
12   27                 0
13   29                 0
14   49                 1
15   55                 1
16   25                 1
17   58                 1
18   19                 0
19   18                 0
20   21                 0
21   26                 0
22   40                 1
23   45                 1
24   50                 1
25   54                 1
26   23                 0

In [3]:
x = df.drop(columns=['bought_insurance'])
x

    age
0    22
1    25
2    47
3    52
4    46
5    56
6    55
7    60
8    62
9    61
10   18
11   28
12   27
13   29
14   49
15   55
16   25
17   58
18   19
19   18
20   21
21   26
22   40
23   45
24   50
25   54
26   23

In [4]:
y = df.bought_insurance

In [5]:
y

0     0
1     0
2     1
3     0
4     1
5     1
6     0
7     1
8     1
9     1
10    0
11    0
12    0
13    0
14    1
15    1
16    1
17    1
18    0
19    0
20    0
21    0
22    1
23    1
24    1
25    1
26    0
Name: bought_insurance, dtype: int64

In [6]:
#train test split
from sklearn.model_selection import train_test_split

In [7]:
x_train,x_test,y_train,y_test = train_test_split(x,y, train_size = 0.9)

In [10]:
len(x)

27

In [11]:
len(x_train)

24

In [12]:
len(x_test)

3

In [14]:
#call the algorithm
model = LogisticRegression()

In [15]:
#train the model
model.fit(x_train,y_train)

LogisticRegression()

In [16]:
#prediction
pred = model.predict([[24]])
pred

C:\Users\CSC\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [18]:
if pred[0] == 1:
    print("he buy")
else:
    print("he won't buy")

he won't buy

In [21]:
def buy_insurance(pred):
    if pred[0] == 1:
        print("he buy")
    else:
        print("he won't buy")

n = int(input("Enter your name"))
pred = model.predict([[n]])
buy_insurance(pred)

Enter your name57
he buy

C:\Users\CSC\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [22]:
#Validation techniques
#SCORE OF TRAINING
model.score(x_train,y_train)

0.875

In [24]:
#score of testing
model.score(x_test,y_test)

1.0

In [25]:
#PROVE (SIGMOID = 1/(1+math.exp(-z)))#z = mx + c
#to find m(slope/coefficent)
model.coef_

array([[0.12844204]])

In [26]:
#to find c(y-intercept)
model.intercept_

array([-4.95916873])

In [27]:
#z = mx+c #x => input(age)
z = 0.12844204 * 24 + -4.95916873
z

-1.87655977

In [28]:
# sigmoid_equ = 1 / (1+math.exp(-z))
import math
sigmoid_equ = 1 / (1+math.exp(-z))
sigmoid_equ

0.1327845254233131