In [2]:
#Step 1: import required libraries
import pandas as pd
from sklearn.linear_model import LinearRegression

In [3]:
#Step 2: read/load the dataset
df = pd.read_csv('cgpa.csv')
df.head()

   study_hours  play_hours  cgpa
0            7           2   7.0
1            8           2   7.8
2           10           3   8.0
3           11           1   9.0
4           11           4   8.5

In [4]:
#Step 3: split dataset into x and y axis
x = df.drop(columns=['cgpa'])
x

   study_hours  play_hours
0            7           2
1            8           2
2           10           3
3           11           1
4           11           4
5           13           2
6           14           1

In [6]:
y = df.cgpa
y

0    7.0
1    7.8
2    8.0
3    9.0
4    8.5
5    9.5
6    9.8
Name: cgpa, dtype: float64

In [7]:
#call the Algorith
model = LinearRegression()

In [8]:
#Train model
model.fit(x,y)

LinearRegression()

In [9]:
#Predict the output
pred = model.predict([[6,3]])

C:\Users\CSC\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [10]:
pred

array([6.69052876])

In [11]:
model.coef_

array([ 0.37199303, -0.14375363])

In [12]:
model.intercept_

4.88983149331784

In [13]:
#cgpa = m1 * study_hours + m2 * play_hours + c
cgpa = 0.37199303 * 6 + -0.14375363 * 3 + 4.88983149331784
cgpa

6.6905287833178395