In [2]:
#STEP 1: import required libraries
import pandas as pd
from sklearn.linear_model import LinearRegression

In [3]:
#Step: to load/read the dataset
df = pd.read_csv("homeprices_multivariable_linear_regression.csv")
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [4]:
#To check we have NAN Values or not
df.isnull().sum()

area        0
bedrooms    1
age         0
price       0
dtype: int64

In [6]:
#Handling missing vlaue/nan value using impelsive method
df['bedrooms'].mean()

4.2

In [7]:
df['bedrooms'] = df['bedrooms'].fillna(df['bedrooms'].mean())

In [8]:
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.2   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [9]:
#Step 3: x and y axis
x = df.drop(columns=['price'])

In [10]:
x

   area  bedrooms  age
0  2600       3.0   20
1  3000       4.0   15
2  3200       4.2   18
3  3600       3.0   30
4  4000       5.0    8
5  4100       6.0    8

In [11]:
y = df.price

In [12]:
y

0    550000
1    565000
2    610000
3    595000
4    760000
5    810000
Name: price, dtype: int64

In [13]:
#Call the Algorithm
model = LinearRegression()

In [14]:
#Train the model
model.fit(x,y)

LinearRegression()

In [15]:
#predict the output#assumen for 3000 sqft, 3, 40 what is the price
pred = model.predict([[3000,3,40]])
pred

C:\Users\CSC\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([490833.34243748])

In [16]:
#verify this output
#formula for linear regression: y = mx +c (single input veriable)
#price = m1 * area + m2 * bedrooms + m3 * age + c
#To find coeffecient/slop (m)
model.coef_

array([  116.66950551, 18756.28806982, -3675.75111708])

In [17]:
#To find intercept(c)
model.intercept_

231586.00639409176

In [18]:
#calculation 
price = 116.66950551 * 3000 + 18756.28806982 * 3 + -3675.75111708 * 40 + 231586.00639409176
price

490833.3424503517

In [21]:
model.predict([[4000,3,2]])

C:\Users\CSC\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([747181.39039218])