In [1]:
#STEP 1: IMPORT REQUIRED PAKAGES/LIBRARIES
import pandas as pd
#import Linear Regression Algorithm
from sklearn.linear_model import LinearRegression

In [2]:
#STEP 2:To read/load the dataset
df = pd.read_csv('homeprices_singlevariable_linear_regression.csv')
df.head()

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000

In [4]:
#step 3: split dataset into x and y axis
#input
x = df[['area']]
x

   area
0  2600
1  3000
2  3200
3  3600
4  4000

In [6]:
y= df.price
y

0    550000
1    565000
2    610000
3    680000
4    725000
Name: price, dtype: int64

In [7]:
#call the Algorithm
model = LinearRegression()

In [8]:
#To train the model
model.fit(x,y)

LinearRegression()

In [9]:
#Predict the output:
pred = model.predict([[3300]])
print(f"The model predicted price is: {pred}")

The model predicted price is: [628715.75342466]

C:\Users\CSC\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [10]:
#Formula for linear regression: y = mx + c => price = m * area + c
#To find m (slop or coefficient)
model.coef_

array([135.78767123])

In [11]:
#To find c(y intercept)
model.intercept_

180616.43835616432

In [12]:
#price = m * area + c
price = 135.78767123 * 3300 + 180616.43835616432

In [13]:
print(price)

628715.7534151643